default_config:

automation:
  - alias: "Test MQTT automation"
    trigger:
      platform: time_pattern
      minutes: "/1"
    action:
      - service: mqtt.publish
        data:
          topic: "homeassistant/automation/test"
          payload: '{"health": true}'

homeassistant:
  name: Home
  unit_system: metric
  latitude: 51.107883
  longitude: 17.038538

logger:
  default: warning
  logs:
    homeassistant.components.mqtt: debug

mqtt:
  broker: mosquitto
  port: 1883
  username: {{ mosquitto_username }}
  password: {{ mosquitto_password }}
  discovery: true
  discovery_prefix: homeassistant

panel_iframe:
  node_red:
    title: Node Red
    icon: mdi:home-automation
    url: !env_var NODERED_ADDRESS

recorder:
  purge_keep_days: 30

sensor:
  - platform: mqtt
    name: "Temperature from example sensor"
    state_topic: "home/bedroom/sensor1"
    unit_of_measurement: '°C'
    value_template: "{%raw%}{{ value_json.temp }}{%endraw%}"
