version: '3'

services:
  homeassistant:
    container_name: homeassistant
    image: homeassistant/home-assistant:stable
    volumes:
      - ./config:/config
    environment:
      - TZ={{ timezone }}
    restart: always
    ports:
      - 80:8123
    depends_on:
      - mosquitto

  mosquitto:
    image: eclipse-mosquitto
    hostname: mosquitto
    ports:
      - 1883:1883
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./mosquitto.passwd:/etc/mosquitto/passwd
