version: '3'
services:
  homeassistant:
    container_name: home-assistant
    image: homeassistant/home-assistant:stable
    volumes:
      - ./config:/config
    environment:
      - TZ={{ timezone }}
    restart: always
    network_mode: host
  mosquitto:
    image: eclipse-mosquitto
    hostname: mosquitto
    ports:
      - 8883:8883
    volumes:
      - mosquitto.conf:/mosquitto/config/mosquitto.conf
      - mosquitto.passwd:/etc/mosquitto/passwd
